## Задание 1
1. Скачать данные по ссылке
https://www.kaggle.com/datasets/ionaskel/laptop-prices
2. Считать данные с помощью pandas
3. Вывести на экран первые 5 строк
4. Посмотреть на описание признаков и на их содержание

In [5]:
import pandas as pd
df = pd.read_csv("laptop_price.csv", sep=',', encoding='windows-1251')
df.head(5)

,laptop_ID,Company,Product,TypeName,Inches,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight,Price_euros
0,1,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 2.3GHz,8GB,128GB SSD,Intel Iris Plus Graphics 640,macOS,1.37kg,1339.69
1,2,Apple,Macbook Air,Ultrabook,13.3,1440x900,Intel Core i5 1.8GHz,8GB,128GB Flash Storage,Intel HD Graphics 6000,macOS,1.34kg,898.94
2,3,HP,250 G6,Notebook,15.6,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,No OS,1.86kg,575.00
3,4,Apple,MacBook Pro,Ultrabook,15.4,IPS Panel Retina Display 2880x1800,Intel Core i7 2.7GHz,16GB,512GB SSD,AMD Radeon Pro 455,macOS,1.83kg,2537.45
4,5,Apple,MacBook Pro,Ultrabook,13.3,IPS Panel Retina Display 2560x1600,Intel Core i5 3.1GHz,8GB,256GB SSD,Intel Iris Plus Graphics 650,macOS,1.37kg,1803.60

## Задание 2.
Проведите первичный анализ данных
1. Изучите типы данных
2. Найдите количество пропущенных ячеек в данных
3. с и поизучайте их

In [6]:
# первичный анализ данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1303 entries, 0 to 1302
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   laptop_ID         1303 non-null   int64
 1   Company           1303 non-null   object
 2   Product           1303 non-null   object
 3   TypeName          1303 non-null   object
 4   Inches            1303 non-null   float64
 5   ScreenResolution  1303 non-null   object
 6   Cpu               1303 non-null   object
 7   Ram               1303 non-null   object
 8   Memory            1303 non-null   object
 9   Gpu               1303 non-null   object
 10  OpSys             1303 non-null   object
 11  Weight            1303 non-null   object
 12  Price_euros       1303 non-null   float64
dtypes: float64(2), int64(1), object(10)
memory usage: 132.5+ KB

In [7]:
# посчитать основные статистики
df.describe()

         laptop_ID       Inches  Price_euros
count  1303.000000  1303.000000  1303.000000
mean    660.155794    15.017191  1123.686992
std     381.172104     1.426304   699.009043
min       1.000000    10.100000   174.000000
25%     331.500000    14.000000   599.000000
50%     659.000000    15.600000   977.000000
75%     990.500000    15.600000  1487.880000
max    1320.000000    18.400000  6099.000000

In [8]:
# посмотреть строковые данные
df.describe(include=['object'])

,Company,Product,TypeName,ScreenResolution,Cpu,Ram,Memory,Gpu,OpSys,Weight
count,1303,1303,1303,1303,1303,1303,1303,1303,1303,1303
unique,19,618,6,40,118,9,39,110,9,179
top,Dell,XPS 13,Notebook,Full HD 1920x1080,Intel Core i5 7200U 2.5GHz,8GB,256GB SSD,Intel HD Graphics 620,Windows 10,2.2kg
freq,297,30,727,507,190,619,412,281,1072,121

## Задание 3. 
Ответьте на несколько вопросов

#### 3.1 
Ноутбуков от какой компании больше всего в наборе
данных?
#### 3.2 
Какая минимальная и максимальная стоимость у
ноутбуков в данных?
#### 3.3 
Какой самый дорогой ноутбук в данных?

Выведите все характеристики только по этому ноутбуку
Если таких ноутбуков несколько, то выводите их всех

#### 3.1 Подзадача

In [11]:
# выборка по ключу Company
df['Company']

0        Apple
1        Apple
2           HP
3        Apple
4        Apple
         ...
1298    Lenovo
1299    Lenovo
1300    Lenovo
1301        HP
1302      Asus
Name: Company, Length: 1303, dtype: object

In [13]:
# посчитать уникальные значения и частоту их появления
df['Company'].value_counts()

Company
Dell         297
Lenovo       297
HP           274
Asus         158
Acer         103
MSI           54
Toshiba       48
Apple         21
Samsung        9
Razer          7
Mediacom       7
Microsoft      6
Xiaomi         4
Vero           4
Chuwi          3
Google         3
Fujitsu        3
LG             3
Huawei         2
Name: count, dtype: int64

In [17]:
# выборка от компании больше всего
df['Company'].value_counts().head(1)

Company
Dell    297
Name: count, dtype: int64

#### 3.2 Подзадача

In [18]:
df['Price_euros'].max()

6099.0

In [19]:
# через сохранение переменных
min_cost = df['Price_euros'].min()
min_cost

174.0

#### 3.3 Подзадача

In [21]:
# отсортировать  данные по стоимости(sort_values('Price_euros') от большего к 
# меньшему(ascending=False) и выбрать самый дорогой ноут
#  и вывести его  харатеристики(.iloc[0])
df.sort_values('Price_euros', ascending=False).iloc[0]

laptop_ID                                           200
Company                                           Razer
Product                                       Blade Pro
TypeName                                         Gaming
Inches                                             17.3
ScreenResolution    4K Ultra HD / Touchscreen 3840x2160
Cpu                         Intel Core i7 7820HK 2.9GHz
Ram                                                32GB
Memory                                          1TB SSD
Gpu                             Nvidia GeForce GTX 1080
OpSys                                        Windows 10
Weight                                           3.49kg
Price_euros                                      6099.0
Name: 196, dtype: object

## Задание 4. 
Ответьте на несколько вопросов
#### 4.1
Найдите ноутбуки с самой маленькой диагональю в
данных?
Выведите только следующие характеристики:
1. Компания
2. Типа ноутбука
3. Диагональ
4. Стоимость
Если таких ноутбуков несколько, то выводите их всех
#### 4.2 
Сколько стоит самый дорогой ноутбук у компании HP?
#### 4.3 
Как много ноутбуков Ultrabook с 8GB RAM?
Найдите сколько таких ультрабуков с 8GB ОЗУ в процентном соотношении
относительно всех ультрабуков

#### 4.1 Подзадача

In [23]:
df[['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
0      Apple           Ultrabook    13.3      1339.69
1      Apple           Ultrabook    13.3       898.94
2         HP            Notebook    15.6       575.00
3      Apple           Ultrabook    15.4      2537.45
4      Apple           Ultrabook    13.3      1803.60
...      ...                 ...     ...          ...
1298  Lenovo  2 in 1 Convertible    14.0       638.00
1299  Lenovo  2 in 1 Convertible    13.3      1499.00
1300  Lenovo            Notebook    14.0       229.00
1301      HP            Notebook    15.6       764.00
1302    Asus            Notebook    15.6       369.00

[1303 rows x 4 columns]

In [26]:
#  сколько ноутов по  диагонали
df['Inches'].value_counts()

Inches
15.6    665
14.0    197
13.3    164
17.3    164
12.5     39
11.6     33
12.0      6
13.5      6
13.9      6
12.3      5
10.1      4
15.4      4
15.0      4
13.0      2
18.4      1
17.0      1
14.1      1
11.3      1
Name: count, dtype: int64

In [30]:
# использование маски: с самой маленькой диагональю ноутбуки (если несколько) с характеристиками:
#  компания, тип ноута,  диагональ, стоимость
df[df['Inches'] == df['Inches'].min()][['Company', 'TypeName', 'Inches', 'Price_euros']]

     Company            TypeName  Inches  Price_euros
50    Lenovo  2 in 1 Convertible    10.1       319.00
1082  Lenovo  2 in 1 Convertible    10.1       646.27
1114  Lenovo  2 in 1 Convertible    10.1       549.00
1126  Lenovo  2 in 1 Convertible    10.1       479.00

#### 4.2 Подзадача

In [32]:
df[df['Company'] == 'HP'][['Company', 'Price_euros']].max()

Company            HP
Price_euros    4389.0
dtype: object

#### 4.3 Подзадача

In [42]:
df[(df['TypeName'] == 'Ultrabook') & (df['Ram'] == '8GB')].shape[0]

140